body {
	font-family: "Open Sans", sans-serif;
	color: #444;
		font-size: 1.2rem;
}

a {
	color: #780a09
}

a:hover {
	color: #780a09;
	text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Raleway, sans-serif
}

mark.derman {
	color: #780a09;
	background: 0 0
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #780a09;
	border-top-color: #575756;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999
}

.back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background: #780a09;
	color: #fff;
	transition: all .4s
}

.back-to-top i:hover {
	background: #780a09;
	color: #fff
}

#topbar {
	background: #fff;
	height: 40px;
	font-size: 18px;
	transition: all .5s
}
#topbar.topbar-scrolled {
	top: -40px;
}
#topbar .contact-info a {
	line-height: 1;
	color: #444;
	transition: .3s
}

#topbar .contact-info a:hover {
	color: #780a09
}

#topbar .contact-info i {
	color: #780a09;
	padding-right: 4px;
	margin-left: 15px
}

#topbar .contact-info i:first-child {
	margin-left: 0
}

#topbar .social-links a {
	color: #575756;
	padding-left: 15px;
	display: inline-block;
	line-height: 1px;
	transition: .3s
}

#topbar .social-links a:hover {
	color: #780a09
}

#topbar .social-links a:first-child {
	border-left: 0
}

#header {
	background: #fff;
	transition: all .5s;
	z-index: 997;
	padding: 15px 0;
	top: 40px;
	box-shadow: 0 2px 15px rgba(25, 119, 204, .1)
}
#header.header-scrolled {
	top: 0;
}
#header .logo {
	font-size: 32px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: .5px;
	font-family: Poppins, sans-serif
}

#header .logo a {
	color: #575756
}

#header .logo img {
	max-height: 60px
}
mark {
	
 margin: 0 -0.4em;
  padding: 0.1em 0.4em;
color:#fff;
  background: transparent;
  background-color: #780a09;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
@media (max-width:992px) {
	#header {
		top: 0
	}
	#header .logo {
		font-size: 28px
	}
}

.nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.nav-menu>ul {
	display: flex
}

.nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
	padding: 8px 0 8px 20px
}

.nav-menu a {
	display: block;
	position: relative;
	color: #575756;
	transition: .3s;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	padding: 5px 2px;
	border-bottom: 2px solid #fff
}

.nav-menu .active>a,
.nav-menu a:hover,
.nav-menu li:hover>a {
	color: #780a09;
	border-color: #780a09
}
/* Mobile Navigation */

.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 20px;
	z-index: 1000;
	border: 0;
	background: none;
	font-size: 30px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
	color: #780a09;
}

.mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	color: #575756;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
	color: #780a09;
	text-decoration: none;
}

.mobile-nav .drop-down>a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}

.mobile-nav .active.drop-down>a:after {
	content: "\eaa1";
}

.mobile-nav .drop-down>a {
	padding-right: 35px;
}

.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}

.mobile-nav .drop-down li {
	padding-left: 20px;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(28, 47, 65, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
}

.banner-logo img {
	display: inline-block;
	max-width: 500px;
}
@media (max-width:768px) {
	.banner-logo img {
	display: inline-block;
	max-width: 300px;
	}
}
.appointment-btn {
	margin-left: 25px;
	background: #780a09;
	color: #fff;
	border-radius: 50px;
	padding: 8px 25px;
	white-space: nowrap;
	transition: .3s;
	font-size: 20px;
	display: inline-block
}
.vita-btn {
	margin-left: 0px;
	background: #780a09;
	color: #fff;
	border-radius: 50px;
	padding: 8px 53px;
	white-space: nowrap;
	transition: .3s;
	font-size: 14px;
	display: inline-block
}
.appointment-btn:hover {
	background: #fff;
	color: #780a09;
	border: 1px solid #780a09
}

@media (max-width:768px) {
	.appointment-btn {
		display: none;
	}
}



#hero {
	width: 100%;
	height: 100vh;
	background: url(../img/hero-bg.jpg) top center;
	background-size: cover;
	position: relative;
	
}

#hero .container {
	position: relative;
		margin-top: 200px;
}

#hero h1 {
	margin: 0;
	font-size: 38px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #575756
}

#hero h2 {
	color: #575756;
	margin: 10px 0 0 0;
	font-size: 22px
}

#hero .btn-get-started {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 35px;
	margin-top: 30px;
	border-radius: 50px;
	transition: .5s;
	color: #fff;
	background: #780a09
}

#hero .btn-get-started:hover {
	background: #fff;
	color: #780a09;
	border: 1px solid #780a09
}

@media (min-width:1024px) {
	#hero {
		background-attachment: scroll
	}
}

@media (max-width:992px) {
	#hero {
		margin-bottom: 0;
		height: 100vh
	}
	#hero .container {
		padding-bottom: 63px
	}
	#hero h1 {
		font-size: 28px;
		line-height: 36px
	}
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px
	}
}

@media (max-height:500px) {
	#hero {
		height: auto
	}
}

section {
	padding: 60px 0;
	overflow: hidden
}

.section-bg {
	background: rgba(0, 0, 0, .02)
}

.section-title {
	text-align: center;
	padding-bottom: 30px
}

.section-title h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #575756
}

.section-title h2::before {
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px)
}

.section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #780a09;
	bottom: 0;
	left: calc(50% - 20px)
}

.section-title p {
	margin-bottom: 0
}

.why-us .content {
	padding: 40px 30px;
	background: #780a09;
	border-radius: 4px;
	color: #fff
}

.why-us .content h3 {
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 30px
}

.why-us .content p {
	margin-bottom: 30px
}

.why-us .icon-boxes .icon-box {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
	padding: 40px 30px;
	width: 100%
}

.why-us .icon-boxes .icon-box i {
	font-size: 40px;
	color: #780a09;
	margin-bottom: 0
}

.why-us .icon-boxes .icon-box h4 {
	font-size: 20px;
	font-weight: 700;
	margin: 10px 0 30px 0
}

.why-us .icon-boxes .icon-box p {
	color: #848484
}

#why-us {
	padding-top: 250px
}

.time-info {
	color: #848484
}

.time-info h3 {
	padding-bottom: 16px;
	color: #848484;
	font-weight: 600
}

td {
	border: 0 solid #848484;
	border-top: 1px #848484;
	padding: 0px 10px 6px 0
}

.leistungen .icon-boxes h4 {
	font-size: 18px;
	color: #780a09;
	margin-bottom: 15px
}

.leistungen .icon-boxes h3 {
	font-size: 28px;
	font-weight: 700;
	color: #575756;
	margin-bottom: 15px
}

.leistungen .icon-box {
	margin-top: 10px
}

.leistungen .icon-box .icon {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 2px solid #575756;
	border-radius: 50px;
	transition: .5s
}

.leistungen .icon-box .icon i {
	color: #780a09;
	font-size: 16px
}

.leistungen .icon-box:hover .icon {
	background: #780a09;
	border-color: #780a09
}

.leistungen .icon-box:hover .icon i {
	color: #fff
}

.leistungen .icon-box .title {
	margin-left: 85px;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 18px
}

.leistungen .icon-box .title a {
	color: #343a40;
	transition: .3s
}

.leistungen .icon-box .title a:hover {
	color: #780a09
}

.leistungen .icon-box .description {
	margin-left: 85px;
	line-height: 24px;
	font-size: 14px
}

.leistungen .video-box {
	background: url(../img/values-1.jpg) center center no-repeat;
	background-size: cover;
	min-height: 300px
}
.leistungen .video-box2 {
	background: url(../img/values-2.jpg) center center no-repeat;
	background-size: cover;
	min-height: 300px
}
.leistungen .video-box3 {
	background: url(../img/values-3.jpg) center center no-repeat;
	background-size: cover;
	min-height: 300px
}
.leistungen .video-box4 {
	background: url(../img/values-4.png) center center no-repeat;
	background-size: cover;
	min-height: 300px
}
@-webkit-keyframes pulsate-btn {
	0% {
		transform: scale(.6, .6);
		opacity: 1
	}
	100% {
		transform: scale(1, 1);
		opacity: 0
	}
}

@keyframes pulsate-btn {
	0% {
		transform: scale(.6, .6);
		opacity: 1
	}
	100% {
		transform: scale(1, 1);
		opacity: 0
	}
}

.appointment .php-email-form {
	width: 100%
}

.appointment .php-email-form .form-group {
	padding-bottom: 8px
}

.appointment .php-email-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px
}

.appointment .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600
}

.appointment .php-email-form .error-message br+br {
	margin-top: 25px
}

.appointment .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #780a09;
	text-align: center;
	padding: 15px;
	font-weight: 600
}

.appointment .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px
}

.appointment .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #780a09;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite
}

.appointment .php-email-form input,
.appointment .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	padding: 10px!important
}

.appointment .php-email-form input:focus,
.appointment .php-email-form textarea:focus {
	border-color: #780a09
}

.appointment .php-email-form input {
	height: 44px
}

.appointment .php-email-form textarea {
	padding: 10px 12px
}

.appointment .php-email-form button[type=submit] {
	background: #780a09;
	border: 0;
	padding: 10px 35px;
	color: #fff;
	transition: .4s;
	border-radius: 50px
}

.appointment .php-email-form button[type=submit]:hover {
	background: #fff;
	color: #780a09;
	border: 1px solid #780a09
}

.patienten {
	overflow: hidden
}

.patienten .nav-link {
	border: 0;
	padding: 12px 15px 12px 0;
	transition: .3s;
	color: #575756;
	border-radius: 0;
	border-right: 2px solid #ebf1f6;
	font-weight: 600;
	font-size: 15px
}

.patienten .nav-link:hover {
	color: #780a09
}

.patienten .nav-link.active {
	color: #780a09;
	border-color: #780a09
}

@media (max-width:992px) {
	.patienten .nav-link {
		border: 0;
		padding: 15px
	}
	.patienten .nav-link.active {
		color: #fff;
		background: #780a09
	}
}

.ueberweiser {
	overflow: hidden
}

.ueberweiser .nav-link {
	border: 0;
	padding: 12px 15px 12px 0;
	transition: .3s;
	color: #575756;
	border-radius: 0;
	border-right: 2px solid #ebf1f6;
	font-weight: 600;
	font-size: 15px
}

.ueberweiser .nav-link:hover {
	color: #780a09
}

.ueberweiser .nav-link.active {
	color: #780a09;
	border-color: #780a09
}

@media (max-width:992px) {
	.ueberweiser .nav-link {
		border: 0;
		padding: 15px
	}
	.ueberweiser .nav-link.active {
		color: #fff;
		background: #780a09
	}
}

.gallery .gallery-item {
	overflow: hidden;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff
}

.gallery .gallery-item img {
	transition: all ease-in-out .4s
}

.gallery .gallery-item:hover img {
	transform: scale(1.1)
}

.contact .info {
	width: 100%;
	background: #fff
}

.contact .info i {
	font-size: 20px;
	color: #fff;
	float: left;
	width: 44px;
	height: 44px;
	background: #780a09;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all .3s ease-in-out
}

.contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #575756
}

.contact .info p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px
}

.contact .info .email,
.contact .info .phone {
	margin-top: 40px
}

.contact .info .address:hover i,
.contact .info .email:hover i,
.contact .info .phone:hover i {
	background: #780a09;
	color: #fff
}

.contact .php-email-form {
	width: 100%;
	background: #fff
}

.contact .php-email-form .form-group {
	padding-bottom: 8px
}

.contact .php-email-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px
}

.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600
}

.contact .php-email-form .error-message br+br {
	margin-top: 25px
}

.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #780a09;
	text-align: center;
	padding: 15px;
	font-weight: 600
}

.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #780a09;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite
}

.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px
}

.contact .php-email-form input {
	height: 44px
}

.contact .php-email-form textarea {
	padding: 10px 12px
}

.contact .php-email-form button[type=submit] {
	background: #780a09;
	border: 0;
	padding: 10px 35px;
	color: #fff;
	transition: .4s;
	border-radius: 50px
}

.contact .php-email-form button[type=submit]:hover {
	background: #fff;
	color: #780a09;
	border: 1px solid #780a09
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
	border-color: #780a09
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

#footer {
	color: #444;
	font-size: 14px;
	background: #780a09
}

#footer .footer-top {
	padding: 60px 0 30px 0;
	background: #fff;
	box-shadow: 0 2px 15px rgba(174, 206, 158, .5)
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px
}

#footer .footer-top .footer-contact h4 {
	font-size: 22px;
	margin: 0 0 30px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700
}

#footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: Raleway, sans-serif;
	color: #777
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: 700;
	color: #444;
	position: relative;
	padding-bottom: 12px
}

#footer .footer-top .footer-links {
	margin-bottom: 30px
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #780a09;
	font-size: 18px;
	line-height: 1
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0
}

#footer .footer-top .footer-links ul a {
	color: #777;
	transition: .3s;
	display: inline-block;
	line-height: 1
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #780a09
}

#footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #780a09;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: .3s
}

#footer .social-links a:hover {
	background: #780a09;
	color: #fff;
	text-decoration: none
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors {
  background: #fff;
}

.doctors .member {
  position: relative;
  padding: 30px;
  border-radius: 10px;
}

.doctors .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.doctors .member .pic img {
  transition: ease-in-out 0.3s;
}

.doctors .member:hover img {
  transform: scale(1.1);
}

.doctors .member .member-info {
  padding-left: 30px;
}

.doctors .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #780a09;
}

.doctors .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.doctors .member span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #780a09;
  bottom: 0;
  left: 0;
}

.doctors .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.doctors .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.doctors .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #780a09;
}

.doctors .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.doctors .member .social a:hover {
  background: #780a09;
}

.doctors .member .social a + a {
  margin-left: 8px;
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  width: 75%;
  opacity: 0.5;
  transition: ease-in-out 0.3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clients .owl-item img:hover {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.clients .owl-nav, .clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients .owl-dot.active {
  background-color: #ff5821 !important;
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.values .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}
.values .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.values .card-title a {
  color: #473d3a;
}
.values .card-text {
  color: #4b4949;
}
.values .read-more a {
  color: #656262;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}
.values .read-more a:hover {
  text-decoration: underline;
}
.values .card:hover .card-body {
  background: #780a09;
}
.values .card:hover .read-more a, .values .card:hover .card-title, .values .card:hover .card-title a, .values .card:hover .card-text {
  color: #fff;
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background: url("../img/3ddruck.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testimonials2 {
  padding: 80px 0;
  background: url("../img/wald.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testimonials3 {
  padding: 80px 0;
  background: url("../img/material.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testimonials4 {
  padding: 80px 0;
  background: url("../img/sparschwein.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testimonials h2 {
	color: #fff;
}
.testimonials2 h2 {
	color: #fff;
}
.testimonials3 h2 {
	color: #fff;
}
.testimonials4 h2 {
	color: #fff;
}
.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.testimonials .section-header {
  margin-bottom: 40px;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}
.testimonials2 .testimonial-item {
  text-align: center;
  color: #fff;
}
.testimonials3 .testimonial-item {
  text-align: center;
  color: #fff;
}
.testimonials4 .testimonial-item {
  text-align: center;
  color: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
 
  margin: 0 auto 15px auto;
  color: #eee;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff5821;
}
@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}




